/*公共宽度居中*/
.com_wd{
    margin: 0 auto;
    width: 1000px;
}

/*公共使用*/








/*公共头部*/
.header{
    height: 26px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px #eee;
}
/*头部左边基础样式*/
.header_left{
    float: left;
    line-height: 26px;
    color: #555555;
}
.header_left dd{
    position: relative;
    float: left;
    padding: 0 10px;
}
.header_left .nan_fenge{
    float: left;
}
.header_left a{
    color: #555555;
}
.header_left a:hover{
    color: #c20525;
}
.header_user{
	color: #C20525;
	padding-right: 4px;
}
.header_tui{
	padding-left: 8px;
}
.header_subnan{
    display: none;
    position: absolute;
    left: -32px;
    top: 26px;
    width: 113px;
    padding: 1px;
    background-color: #FFF;
    border: 1px solid #ccc;
    z-index: 999;
}

.header_subnan li{
    width: 99px;
    padding-left:14px;
    border-bottom: 1px solid #ccc;
    background: #f0f0f0;
}
.header_subnan a{
    padding: 6px 0 6px 22px;
    color: #555;
}
.header_subnan li:hover{
    background: #fffaed;
    color: #c20525;
}
.header_subnan li:hover a{
    color: #c20525;
}

/*头部左边修饰*/
.header_left .header_wujiao{
    padding-left: 24px;
    background: url(../img/wujiaoxing.jpg) left top no-repeat;
}
.com_sele_bg{
    margin-left: 10px;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url(../img/sele_hei.jpg) center no-repeat;
}
/*头部右边基础样式*/
.header_right{
    float: right;
    line-height: 26px;
    color: #555555;
}
.header_right dd{
    position: relative;
    float: left;
    padding: 0 10px;
    
}
.header_right em{
    float: left;
}
.header_right_subnan{
    display: none;
    position: absolute;
    left: 0px;
    top: 26px;
    width: 83px;
    padding: 1px;
    background-color: #FFF;
    border: 1px solid #ccc;
    z-index: 999;
}

.header_right_subnan li{
    width: 73px;
    padding-left: 10px;
    border-bottom: 1px solid #ccc;
    background: #f0f0f0;
}
.header_right_subnan a{
    padding-left: 6px;
    color: #555;
}
.header_right_subnan li:hover{
    background: #fffaed;
    color: #c20525;
}
.header_right_subnan li:hover a{
    color: #c20525;
}
.header_right_subnan .header_rig_su_dd{
    padding: 6px 0 6px 20px;
}
.header_right .header_right_last{
    padding: 0;
    width: 50px;
    height: 26px;
    background: url(../img/header_qian.jpg) no-repeat;
}
.header_right i{
    padding-right: 4px;
    color: #d41f2b;
    font-weight: 700;
}
/*公共logo部分*/
.logo{
    position: relative;
    height: 89px;
    overflow: hidden;
}
.index_logo{
    float: left;
    margin-top: 15px;
    width: 194px;
    height: 64px;
    background: url(../img/logo.jpg);
}
.index_search{
    margin: 20px 0 0 16px;
    display: inline;
    float: left;
    padding-left: 30px;
    width: 426px;
    height: 30px;
    border: 2px solid #c20525;
    background: url(../img/search.jpg) left no-repeat;
    z-index: 9;
}
.index_sea_input{
    display: inline;
    float: left;
    width: 340px;
    height: 28px;
    line-height: 28px;
    border: none;
    outline: none;
}
.index_sea_btn{
    display: inline;
    float: right;
    width: 82px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: #df2135;
    color: #fff;
    border-left: 1px solid #c20525;
}
.index_hot_nan{
    float: left;
    margin: 6px 0 0 16px;
}
.index_hot_nan a{
    padding: 0 4px;
    color: #999999;
}
.index_hot_nan a:hover{
    color: #c20525;
}
.index_logo_small{
    position: absolute;
    right: 0;
    top: 20px;
}
.index_logo_small a{
    display: inline-block;
    float: left;
    width: 74px;
    height: 50px;
}
.index_logo_small span{
    float: left;
    margin-top: 10px;
    height: 34px;
    width: 1px;
    background: #e6d8d8;
}

/*公共导航*/
.index_nan{
    height: 37px;
    border-top: 1px solid #ddb9b9;
    background: #cf1b1b;
}
.nan{
    height: 37px;
}
.nan li{
    position: relative;
    float: left;
    padding: 0 24px;
    height: 37px;
    line-height: 37px;
    
}
.nan li a{
    font-size: 14px;
    color: #fff;
}
.nan li:hover{
    background: #9a1f1f;
}
.nan .action{
    background: #9a1f1f;
}
.nan span{
    float: left;
    margin-top: 1px;
    height: 34px;
    width: 1px;
    background: url(../img/nav_border.jpg);
}
.nan_hot{
    position: absolute;
    left: 70px;
    top: -5px;
    width: 52px;
    height: 18px;
    background: url(../img/hot.png) no-repeat;
    z-index: 999999;
}
.nan_ipad{
    position: absolute;
    left: 70px;
    top: -5px;
    width: 52px;
    height: 18px;
    background: url(../img/pardarr.png) no-repeat;
    z-index: 99;
}

/*footer公共底部*/
.footer{
    overflow: hidden;
    background: #f7f7f7;
    border: 1px solid #e5e5e5;
}
.footer_head{
    padding: 24px 0;
    height: 126px;
    overflow: hidden;
}
.footer_service{
    display: inline;
    float: left;
    width: 185px;
    height: 130px;
    border-left: 1px solid #fdfdfd;
    border-right: 1px solid #e9e1e8;
}
.footer_service dt{
    margin-left: 44px;
    padding-left: 30px;
    height: 38px;
    line-height: 38px;
    color: #c95c78;
    font-weight: 700;
    font-size: 14px;
}
.footer_service dd{
    margin-left: 56px;
    padding-left: 10px;
    height: 22px;
    line-height: 22px;
    background: url(../img/footer_dian.png) left no-repeat;
}
.footer_service dd a{
    color: #999999;
}
.footer_service dd a:hover{
    color: #666;
}
.footer_head .fist_child{
    border-left: none;
}
.footer_service_last{
    display: inline;
    width: 250px;
    border-right: none;
}
.footer_service_last dd{
    margin-left: 46px;
    background: none;
}
.footer_service_last em{
    margin-left: 10px;
    font-size: 10px;
}
.footer_service_last .footer_sl_phone{
    display: block;
    width: 158px;
    height: 34px;
    background: url(../img/footer_phone.jpg);
}
.footer_service_last .footer_sl_kefu{
    width: 138px;
    padding: 1px;
    background: #fff;
    border: 1px solid #e9e1e8;
    text-align: center;
}
.footer_service_last .footer_sl_kefu a{
    display: inline-block;
    width: 138px;
    height: 22px;
    line-height: 20px;
    background: #f7f7f7;
}
.footer_service_last .footer_sl_kefu span{
    margin-left: 30px;
    float: left;
}
.footer_service_last .footer_sl_kefu img{
    float: left;
    padding-left: 4px;
    margin-bottom: 3px;
}
.footer_service_last .footer_sl_work{
    padding: 0;
    height: 30px;
    line-height: 30px;
}
/*footer的导航nan*/
.footer_nan{
    height: 36px;
    background: #d31c28;
    line-height: 36px;
    text-align: center;
    color: #fff;
}
.footer_nan a{
    padding: 0 16px;
    color: #fff;
}
.footer_nan a:hover{
    color: #000;
}
.footer_banben{
    height: 152px;
}
.footer_bq{
    text-align: center;
    height: 42px;
    line-height: 42px;
    color: #999999;
}
.footer_banben p{
    height: 62px;
    text-align: center;
    
}
.footer_banben a{
    padding-right: 10px;
}
.footer_banben img{
    display: inline;
}


/*侧边栏slide*/
.index_slide{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999999;
    width: 34px;
    height: 100%;
    background: #000000;
    color: #fff;
}
.index_sli_link{
    position: absolute;
    top: 30%;
    width: 34px;
}

.index_sli_link a{
    padding-top: 12px;
    display: block;
    height: 60px;
    color: #fff;
    text-align: center;
}
.index_sli_link i{
    display: block;
    margin-left: 2px;
    height: 30px;
    width: 30px;
}
.index_sli_link a:hover{
    background: #a90a0a;
}
.index_sli_link .slide_shopcart{
    height: 125px;
}
.index_sli_link .slide_shopcart span{
    display: block;
    margin-left: 9px;
    width: 16px;
    line-height: 20px;
}
.index_sli_link .slide_shopcart em{
    display: block;
    margin-left: 6px;
    width: 20px;
    height: 20px;
    background: #a90a0a;
    line-height: 20px;
    text-align: center;
    border-radius: 10px;
}
.index_l_slide{
    position: fixed;
    left: 0;
    bottom: 0;
    overflow: hidden;
    background: #e6e6e6;
}
.index_ls_nan li{
    position: relative;
    width: 95px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #a90a0a;
    border: 1px solid #e6e6e6;
    overflow: hidden;
    cursor: pointer;
    background: #fff;
}
.index_ls_nan i{
    /*display: none;*/
    position: absolute;
    width: 95px;
    height: 40px;
    left: 1px;
    top: 1px;
}
.index_ls_nan span{
    display: none;
    position: absolute;
    width: 95px;
    height: 40px;
    left: 1px;
    top: 1px;
}
.index_ls_nan li:hover{
    border: 1px solid #a90a0a;
}
/*侧边广告栏*/
.index_advert{
    position: fixed;
    top: 200px;
    right: 50%;
    margin-right: -606px;
    width: 100px;
}
.index_ad_nan{
    width: 98px;
    border: 1px solid #e1e1e1;
    border-top: 2px solid #cf1321;
    background-color: #fffaf6;
}
.index_ad_nan li{
    border-bottom: 1px dashed #e1e1e1;
    line-height: 20px;
    display: block;
    margin: 0 5px;
    padding: 3px 0;
    text-align: center;
}
.index_ad_nan li a{
    display: block;
    text-indent: -9999px;
    width: 90px;
}
.index_ad_nan .index_ad_last{
    padding: 0;
    margin: 0;
    border: none;
}
.index_ad_nan .index_ad_last a{
    padding: 0;
    margin: 0;
    width: 100%;
}





.main{
    overflow: hidden;
}

/*首页公共盒子*/
.index_com_box{
    
}
/*首页公共大标题*/
.index_com_tit{
    margin: 20px 0;
    line-height: 40px;
    height: 40px;
}
.in_comtit_tit{
    float: left;
    margin-left: 48px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    color: #fff;
    width: 86px;
}
.in_comtit_nav{
    float: left;
}
.in_comtit_nav li{
    float: left;
    padding-left: 10px;
}
.in_comtit_nav a{
    color: #494747;
}
.in_comtit_nav a:hover{
    color: #e70012;
}
.index_com_box .red{
    color: #e70012;
}
.in_comtit_more{
    float: right;
}
.in_comtit_more:hover{
    color: #e70012;
}
/*公共商品展示*/
.com_nav{
    min-height: 300px;
    height: auto!important;
    height: 300px;
    overflow: hidden;
    width: 1080px;
}
.com_nav li{
    float: left;
    margin: 0 18px 10px 0;
    padding: 10px;
    height: 280px;
    width: 298px;
    border: 1px solid #d7d3d3;
    border-radius: 4px;
    cursor: pointer;
    overflow: hidden;
}
.com_nav li:hover{
    border: 1px solid #999;
}
.com_nl_img{
    width: 300px;
    height: 186px;
    overflow: hidden;
}
.com_nl_img img{
    width: 300px;
    -webkit-transition:all 1s; 
	-moz-transition:all 1s; 
	-o-transition:all 1s; 
}
.com_nav li:hover img{
    transform: scale(1.08);
    -webkit-transtion:scale(1.08);
    -moz-transtion:scale(1.08);
    -o-transtion:scale(1.08);
}
.com_nl_tit{
    margin-top: 6px;
    height: 44px;
    line-height: 22px;
    font-size: 12px;
}
.com_nl_tit a{
    color: #343434;
}
.com_nl_contain{
    height: 44px;
}
.com_nl_price{
    float: left;
    height: 44px;
    width: 84px;
    line-height: 44px;
    text-align: center;
    font-size: 20px;
    color: #ff0000;
    font-weight: 800;
}
.com_nl_smlcon{
    float: left;
    margin-top: 10px;
    width:100px;
    height: 36px;
    line-height: 18px;
    color: #a49e9e;
}
.com_nl_oldprice{
	width: 100px;
}
.com_nl_oldprice i{
    text-decoration: line-through;
}
.com_nl_oldprice em{
    text-decoration: none;
    color: #ff0000;
    white-space: nowrap;
}
.com_nl_stutas{
	display: block;;
	width: 100px;
}
.com_nl_btn{
    float: right;
    margin: 14px 10px 0 0;
    width: 80px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background: #e70012;
    color: #fff;
}
.com_nl_btn:hover{
    background: #cd0616;
    box-shadow: 0 0 10px #bbb;
}
/*公共盒子广告展示*/
.index_com_show{
    margin-bottom: 16px;
    overflow: hidden;
    width: 1020px;
}
.index_cs_imgshow{
    float: left;
    width: 534px;
    height: 290px;
}
.index_cs_imgshow img{
    display: block;
    width: 100%;
    height: 100%;
}
.index_cs_nav{
    display: inline;
    float: left;
    height: 290px;
    width: 480px;
}
.index_cs_nav li{
    display: inline;
    margin-right: 5px;
    float: left;
    width: 226px;
    height: 286px;
    padding: 2px;
    text-align: center;
    border-right: 1px solid #eee;
    overflow: hidden;
}
.index_cs_tit{
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-weight: 700;
}
.index_cs_msg{
    color: #757575;
}
.index_cs_subshow{
    display: block;
    width: 226px;
    height: 240px;
}
.index_cs_subshow img{
    width: 100%;
    height: 100%;
}












