/*公共宽度居中*/
.com_wd{
    margin: 0 auto;
    width: 990px;
}

/*公共使用*/








/*公共头部*/
.header{
    height: 26px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px #eee;
}
/*头部左边基础样式*/
.header_left{
    float: left;
    line-height: 26px;
    color: #555555;
}
.header_left dd{
    position: relative;
    float: left;
    padding: 0 10px;
}
.header_left .nav_fenge{
    float: left;
}
.header_left a{
    color: #555555;
}
.header_left a:hover{
    color: #c20525;
}
.header_subnav{
    display: none;
    position: absolute;
    left: -32px;
    top: 26px;
    width: 113px;
    padding: 1px;
    background-color: #FFF;
    border: 1px solid #ccc;
    z-index: 999;
}

.header_subnav li{
    width: 99px;
    padding-left:14px;
    border-bottom: 1px solid #ccc;
    background: #f0f0f0;
}
.header_subnav a{
    padding: 6px 0 6px 22px;
    color: #555;
}
.header_subnav li:hover{
    background: #fffaed;
    color: #c20525;
}
.header_subnav li:hover a{
    color: #c20525;
}

/*头部左边修饰*/
.header_left .header_wujiao{
    padding-left: 24px;
    background: url(../img/wujiaoxing.jpg) left top no-repeat;
}
.com_sele_bg{
    margin-left: 10px;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url(../img/sele_hei.jpg) center no-repeat;
}
/*头部右边基础样式*/
.header_right{
    float: right;
    line-height: 26px;
    color: #555555;
}
.header_right dd{
    position: relative;
    float: left;
    padding: 0 10px;
    
}
.header_right em{
    float: left;
}
.header_right_subnav{
    display: none;
    position: absolute;
    left: 0px;
    top: 26px;
    width: 83px;
    padding: 1px;
    background-color: #FFF;
    border: 1px solid #ccc;
    z-index: 999;
}

.header_right_subnav li{
    width: 73px;
    padding-left: 10px;
    border-bottom: 1px solid #ccc;
    background: #f0f0f0;
}
.header_right_subnav a{
    padding-left: 6px;
    color: #555;
}
.header_right_subnav li:hover{
    background: #fffaed;
    color: #c20525;
}
.header_right_subnav li:hover a{
    color: #c20525;
}
.header_right_subnav .header_rig_su_dd{
    padding: 6px 0 6px 20px;
}
.header_right .header_right_last{
    padding: 0;
    width: 50px;
    height: 26px;
    background: url(../img/header_qian.jpg) no-repeat;
}
.header_right i{
    padding-right: 4px;
    color: #d41f2b;
    font-weight: 700;
}
/*公共logo部分*/
.logo{
    position: relative;
    height: 89px;
    overflow: hidden;
}
.index_logo{
    float: left;
    margin-top: 15px;
    width: 194px;
    height: 64px;
    background: url(../img/logo.jpg);
}
.index_search{
    margin: 20px 0 0 16px;
    display: inline;
    float: left;
    padding-left: 30px;
    width: 426px;
    height: 30px;
    border: 2px solid #c20525;
    background: url(../img/search.jpg) left no-repeat;
    z-index: 9;
}
.index_sea_input{
    display: inline;
    float: left;
    width: 340px;
    height: 28px;
    line-height: 28px;
    border: none;
    outline: none;
}
.index_sea_btn{
    display: inline;
    float: right;
    width: 82px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: #df2135;
    color: #fff;
    border-left: 1px solid #c20525;
}
.index_hot_nav{
    float: left;
    margin: 6px 0 0 16px;
}
.index_hot_nav a{
    padding: 0 4px;
    color: #999999;
}
.index_hot_nav a:hover{
    color: #c20525;
}
.index_logo_small{
    position: absolute;
    right: 0;
    top: 20px;
}
.index_logo_small a{
    display: inline-block;
    float: left;
    width: 74px;
    height: 50px;
}
.index_logo_small span{
    float: left;
    margin-top: 10px;
    height: 34px;
    width: 1px;
    background: #e6d8d8;
}

/*公共导航*/
.index_nav{
    height: 37px;
    border-top: 1px solid #ddb9b9;
    background: #cf1b1b;
}
.nav{
    height: 37px;
}
.nav li{
    position: relative;
    float: left;
    padding: 0 24px;
    height: 37px;
    line-height: 37px;
}
.nav li a{
    font-size: 14px;
    color: #fff;
}
.nav li:hover{
    background: #9a1f1f;
}
.nav .action{
    background: #9a1f1f;
}
.nav span{
    float: left;
    margin-top: 1px;
    height: 34px;
    width: 1px;
    background: url(../img/nav_border.jpg);
}
.nav_hot{
    position: absolute;
    left: 70px;
    top: -5px;
    width: 52px;
    height: 18px;
    background: url(../img/hot.png) no-repeat;
}
.nav_ipad{
    position: absolute;
    left: 70px;
    top: -5px;
    width: 52px;
    height: 18px;
    background: url(../img/pardarr.png) no-repeat;
}










