.baidu_icon{
    background: url(../img/zhenghe.png) -83px 4px;
}
.zhifubao_icon{
    background: url(../img/zhenghe.png) -83px -18px;
}
.weixin_icon{
    background: url(../img/zhenghe.png) -83px -38px;
}
.QQ_icon{
    background: url(../img/zhenghe.png) -83px -62px;
}
.tengwei_icon{
    background: url(../img/zhenghe.png) -83px -108px;
}
.xinwei_icon{
    background: url(../img/zhenghe.png) -83px -83px;
}












