.baidu_icon{
    background: url(../img/zhenghe.png) -83px 4px;
}
.zhifubao_icon{
    background: url(../img/zhenghe.png) -83px -18px;
}
.weixin_icon{
    background: url(../img/zhenghe.png) -83px -38px;
}
.QQ_icon{
    background: url(../img/zhenghe.png) -83px -62px;
}
.tengwei_icon{
    background: url(../img/zhenghe.png) -83px -108px;
}
.xinwei_icon{
    background: url(../img/zhenghe.png) -83px -83px;
}
.pinzhi_icon{
    background: url(../img/zhenghe.png) -43px -112px;
}
.tuihuan_icon{
    background: url(../img/zhenghe.png) -43px -166px;
}
.tuikuan_icon{
    background: url(../img/zhenghe.png) -43px -222px;
}
.phone_icon{
    background: url(../img/zhenghe.png) -43px -282px;
}
.footer_help_icon{
    background: url(../img/footer_nan_zhenghe.png) 0 5px no-repeat;
}
.footer_shop_icon{
    background: url(../img/footer_nan_zhenghe.png) 0 -46px no-repeat;
}
.footer_work_icon{
    background: url(../img/footer_nan_zhenghe.png) 0 -93px no-repeat;
}
.footer_about_icon{
    background: url(../img/footer_nan_zhenghe.png) 0 -144px no-repeat;
}
.footer_help_icon{
    background: url(../img/footer_nan_zhenghe.png) 0 5px no-repeat;
}
.aslide_wode_icon{
    background: url(../img/slide_bg.png) 2px 0;
}
.aslide_xiaoxi_icon{
    background: url(../img/slide_bg.png) 2px -23px;
}
.aslide_kefu_icon{
    background: url(../img/slide_bg.png) 2px -46px;
}
.aslide_shop_icon{
    background: url(../img/slide_bg.png) 3px -73px;
}
.index_lsshouAct_icon{
    background: url(../img/index_ls_zheng.png);
}
.index_lsshou_icon{
    background: url(../img/index_ls_shouye.jpg);
}
.index_lsshop_icon{
    background: url(../img/index_ls_zheng.png) 0 -44px;
}
.index_lsnv_icon{
    background: url(../img/index_ls_zheng.png) 0 -90px;
}
.index_lsnan_icon{
    background: url(../img/index_ls_zheng.png) 0 -134px;
}
.index_lsshoe_icon{
     background: url(../img/index_ls_zheng.png) 0 -180px;
}
.index_lsjia_icon{
    background: url(../img/index_ls_zheng.png) 0 -230px;
}
.index_lsfood_icon{
    background: url(../img/index_ls_zheng.png) 0 -272px;
}
.index_lshui_icon{
    background: url(../img/huiding_btn.jpg);
}
.index_adding_icon{
    height: 50px;
    background: url(../img/guanggao_zheng.png)0 -62px;
}
.index_adkefu_icon{
    height: 22px;
    background: url(../img/guanggao_zheng.png) -21px -36px;
}
.index_adcha_icon{
    height: 48px;
    background: url(../img/guanggao_zheng.png)-94px -60px;
}
.index_adshou_icon{
    height: 42px;
    background: url(../img/guanggao_zheng.png)0px -107px;
}
.index_adqian_icon{
    height: 44px;
    background: url(../img/guang_qiandao.jpg);
}
.index_adhui_icon{
    height: 26px;
    background: url(../img/guanggao_zheng.png)-94px -110px;
}
.main_d_zheng{
    background: url(../img/main_d_zheng.jpg) no-repeat left;
}
.main_d_yuihuan{
    background: url(../img/main_d_yuihuan.jpg)no-repeat left;
}
.main_d_jifen{
    background: url(../img/main_d_jifen.jpg)no-repeat left;
}
.dclb_th1{
    background: url(../img/dclb_th1.gif) no-repeat left;
}
.dclb_th2{
    background: url(../img/dclb_th2.gif) no-repeat left;
}
.dclb_th3{
    background: url(../img/dclb_th3.gif) no-repeat left;
}
.dclb_th4{
    background: url(../img/dclb_th4.gif) no-repeat left;
}
.dclb_th5{
    background: url(../img/dclb_th5.gif) no-repeat left;
}
.dclb_th6{
    background: url(../img/dclb_th6.gif) no-repeat left;
}




