/*注册页面*/
/*注册页面头部*/
.re_header{
    height: 114px;
    overflow: hidden;
}
.re_h_logo{
    float: left;
    margin-top: 24px;
    width: 227px;
    height: 67px;
    background: url(../img/register_logo.png) no-repeat;
}
.re_h_login{
    float: left;
    margin-left: 70px;
    margin-top: 70px;
    width: 144px;
    height: 45px;
    line-height: 30px;
    text-align: center;
    background: url(../img/login_btn.png) 0 -190px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}
.re_h_login span{
    color: #fffaa8;
}
/*注册页面主内容*/
.re_main{
    margin-bottom: 96px;
    overflow: hidden;
}
.re_ma_left{
    float: left;
    padding: 1px;
    width: 446px;
    overflow: hidden;
    background: #fff;
    border-radius: 6px;
    border: 1px solid #e1e0e2;
}
.re_ma_right{
    float: right;
    width: 490px;
    height: 560px;
    background: url(../img/register_bigbg.png) center center no-repeat;
}
.re_ma_form{
    width: 404px;
    padding: 20px 21px;
    min-height: 200px;
    height: auto!important;
    height: 200px;
    background: #eeecef;
    border-radius: 6px;
}
.re_ma_title{
    padding-left: 74px;
    width: 326px;
    white-space: nowrap;
    height: 36px;
    line-height: 32px;
    font-size: 12px;
    background: url(../img/login_bg.png);
}
.re_ma_form form{
    border-bottom: 1px solid #dadada;
    padding: 20px 0 10px;
}
.re_form_box{
    position: relative;
    height: 56px;
}
.re_form_box label{
    float: left;
    display: inline;
    width: 100px;
    line-height:34px;
    text-align: right;
    color: #555;
}
.re_form_box input{
    float: left;
    display: inline;
    padding: 2px;
    width: 244px;
    height: 34px;
    border-radius: 6px;
    border: 1px solid #e5e3e5;
    line-height: 34px;
    outline: none;
}
.re_form_box .re_form_err{
	display: none;
    float: left;
    margin: 6px 0 0 8px;
    width: 24px;
    height: 24px;
    background: url(../img/R_W.png) 0 -228px;
}
.re_form_box span{
	display: none;
    position: absolute;
    top: 40px;
    left: 106px;
    width: 224px;
    height: 18px;
    color: #d21522;
    line-height: 18px;
}
.re_form_check{
    margin-left: 100px;
    height: 40px;
    line-height: 40px;
    color: #333;
}
.re_form_check input{
    margin-top: 13px;
    float: left;
}
.re_form_xie{
    color: #d41f2b;
}
.re_f_btn{
    margin-left: 100px;
    width: 150px;
    height: 56px;
    border: none;
    background: url(../img/login_btn.png);
    cursor: pointer;
    outline: none;
}
.re_f_bottom{
    border-top: 1px solid #fff;
}
.re_f_bottom h4{
    height: 30px;
    line-height: 30px;
}
.re_f_bottom a{
    display: inline-block;
    margin: 0 4px 10px 0;
}
.re_f_bottom img{
    display: inline;
}

/*登录页面*/
.lo_ma_title{
    padding-left: 80px;
    width: 320px;
    background-position: 0 -40px;
}
.lo_f_btn{
    background-position: 0 -70px;
}
.lo_ma_right{
    height: 428px;
    background: url(../img/login_pic.png) no-repeat center;
}

/*首页index.html*/
.banner{
    position: relative;
    height: 384px;
    overflow: hidden;
}
.banner_nav{
    position: relative;
}
.banner_nav li{
    position: absolute;
    left: 0;
    top: 0;
    height: 384px;
}
.banner_nav img{
    display: inline-block;
    width: 100%;
    height: 100%; 
}
.banner_btn{
    position: absolute;
    right: 50%;
    bottom: 20px;
    margin-right: -360px;
    width: 130px;
    height: 20px;
}
.banner_btn li{
    float: left;
    margin-right: 10px;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: #eee;
    cursor: pointer;
}
.banner_btn .action{
    background: #d6010f;
}



/*首页index的不同部分*/
.index_hot{
    background: url(../img/hot/index_hot.jpg);   
}
.index_nv{
    background: url(../img/index_nv.jpg);  
}
.index_nanshow{
    background: url(../img/index_nan.jpg);
}
.index_xie{
    background: url(../img/index_xie.jpg);
}
.index_jia{
    background: url(../img/index_jia.jpg);
}
.index_food{
    background: url(../img/index_food.jpg);
}
/*首页主内容底部*/
.index_footer{
    margin-top: 40px;
    margin-bottom: 40px;
    overflow: hidden;
}
.index_f_tit{
    margin-bottom: 40px;
    text-align: center;
    height: 20px;
    line-height: 20px;
    font-size: 18px;
    background: url(../img/main_border_bg.jpg) no-repeat center;
}
.index_f_tit a{
    color: #575657;
}
.index_f_nav{
    overflow: hidden;
}
.index_f_nav li{
    float: left;
    margin: 0 10px;
    width: 142px;
    background: url(../img/main_footer_border.jpg) no-repeat right bottom;
    height: 160px;
    text-align: center;
}
.index_f_nav p{
    font-weight: bold;
    color: #333333;
}
.index_f_nav a{
    display: block;
    width: 65px;
    height: 24px;
    text-align: center;
    float: left;
    color: #5f5e5f;
}
.index_f_nav img{
    width: 141px;
    height: 100px;
}
/*detailed详细页面*/
.detail_main{
    margin-top: 4px;
    padding-top: 10px;
    overflow: hidden;
    background: #f7f7f7;
}
.main_deta{
    padding: 10px;
    height: 366px;
    border: 1px solid #dddddd;
    background: #fff;
}
.main_d_tit{
    margin-top: 8px;
    line-height: 26px;
    height: 52px;
    font-size: 20px;
    font-weight: 600;
    color: #333333;
}
.main_d_left{
    margin-top: 14px;
    float: left;
    height: 280px;
    width: 438px;
    overflow: hidden;
}
.main_d_left img{
    width: 100%;

}
.main_d_right{
    float: left;
    margin: 14px 0 0 38px;
    width: 480px;
}
.main_d_box{
    width: 480px;
    min-height: 10px;
    height: auto!important;
    height: 10px;
    overflow: hidden;
    border-bottom: 1px solid #eeeeee;
}
.main_d_price{
    float: left;
    height: 44px;
    width: 124px;
    line-height: 44px;
    text-align: center;
    font-size: 30px;
    color: #ff0000;
    font-weight: 800;
}
.main_d_smlcon{
    float: left;
    height: 44px;
    width: 100px;
}
.main_d_smlcon em{
    display: block;
    color: #d71e2a;
    font-size: 14px;
    height: 26px;
    line-height: 26px;
    font-weight: 700;
    line-height: 22px;
}
.main_d_smlcon span{
    display: block;
    height: 16px;
    line-height: 16px;
    text-decoration: line-through;
    color: #a59999;
}
.main_db_pingtit{
    float: left;
    height: 36px;
    line-height: 36px;
    color: #666666;
}
.main_db_xing{
    margin-top: 11px;
    float: left;
    width: 60px;
    height: 12px;
    background: url(../img/wijiaoxing_ping.png) 0 -12px;
}
.main_db_xingkong{
    display: block;
    width: 60px;
    height: 12px;
    background: url(../img/wijiaoxing_ping.png);
}
.main_db_fen{
    float: left;
    margin-left: 4px;
    height: 36px;
    line-height: 36px;
    color: #666666;
}
.main_db_ping{
    float: right;
    height: 36px;
    line-height: 36px;
    color: #666666;
}
.main_db_ping i{
    color: #d71e2a;
}
.main_db_buy{
    margin: 20px 20px 20px 0;
    float: left;
    height: 50px;
    width: 170px;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    background: #c40001;
    color: #fff;
}
.main_db_buy:hover{
    background: #a70707;
}
.main_db_add{
    margin-top: 20px;
    float: left;
    height: 50px;
    width: 128px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #c40001;
    color: #c20000;
}
.main_db_fenxiang{
    position: relative;
    margin-top: 36px;
    float: right;
    padding-left:17px;
    padding-bottom: 2px;
    background: url(../img/xiaotubiao.png) no-repeat;
    cursor: pointer;
}
.main_d_futit{
    float: left;
    width: 70px;
    height: 50px;
    line-height: 50px;
}
.main_d_link{
    float: left;
    padding-left: 20px;
    margin-right: 36px;
    height: 50px;
    line-height: 50px;
}
.main_d_buypeo{
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.main_d_buypeo em{
    font-size: 15px;
    color: #d71e2a;
}
.main_deta_contail{
    margin: 16px 0 52px 0;
    overflow: hidden;
}

.main_dc_right{
    float: right;
    min-height: 480px;
    height: auto!important;
    height: 480px;
    width: 234px;
}
.main_dcrt_tit{
    width: 235px;
    height: 46px;
    background: url(../img/chengxinxiaofei.png) no-repeat;
}
.main_dcrt_nav{
    width: 223px;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #fffafa;
}
.main_dcrt_nav li{
    position: relative;
    width: 194px;
    padding: 32px 0 10px 30px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #555;
    line-height: 20px;
}
.main_dcrt_nav h2{
    position: absolute;
    left: 0;
    top: 0;
    width: 194px;
    height: 30px;
    line-height: 30px;
    padding-left: 30px;
    font-size: 18px;
    font-weight: bold;
}
.main_dcrt_nav .main_dcrtn_last{
    margin-bottom: 0;
    border-bottom: none;
    padding-top: 36px;
}
.main_dcrtn_show{
    position: absolute;
    left: 0;
    top: 0;
    width: 221px;
    height: 36px;
    background: url(../img/chengxin_tu.png) no-repeat center center;
}
.main_dcr_recom{
    margin-top: 14px;
    overflow: hidden;
    border: 1px solid #dddddd;
}
.main_dcrr_tit{
    height: 30px;
    line-height: 30px;
    background: url(../img/main_dcrr_tit.png) repeat-x;
}
.main_dcrr_tit span{
    float: left;
    padding-left: 12px;
    color: #666;
}
.main_dcrr_tit a{
    margin-right: 6px;
    float: right;
    padding-right: 10px;
    background: url(../img/side_title_more.png) no-repeat center right;
    color: #666;
}
.main_dcrr_tit a:hover{
    color: #dc442f;
}
.main_drc_nav{
    overflow: hidden;
}
.main_drc_nav li{
    padding: 0 15px;
    height: 124px;
    border-top: 1px solid #dddddd;
}
.main_drc_nav li .tit{
    height: 34px;
    line-height: 34px;
    width: 205px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.main_drc_nav li .pic{
    float: left;
    height: 76px;
    width: 120px;
}
.main_drc_nav img{
    width: 100%;
    height: 100%;
}
.main_drc_nav .price{
    margin-left: 6px;
    float: left;
}
.main_drc_nav .price span{
    display: block;
    height: 18px;
    line-height: 18px;
    color: #dc4469;
    font-weight: 700;
}
.main_drc_nav .price p{
    height: 16px;
    color: #999999;
}
.main_drc_nav .price em{
    padding-left: 4px;
    text-decoration: line-through;
}
.main_drc_nav .price a{
    margin-top: 12px;
    display: block;
    width: 57px;
    height: 21px;
    background: url(../img/sift_buy_bg.png) no-repeat 0px -75px;
    text-indent: -9999px;
}
.main_dc_left{
    float: left;
    overflow: hidden;
    width: 746px;
    background: #fff;
    border: 1px solid #e5e5e5;
}
.main_dcl_top{
    width: 746px;
    height: 32px;
    line-height: 32px;
    background: url(../img/stuff_tab_bg.png) repeat-x 0px 0px;
    background-color: #FFF;
    border: 1px solid #e5e5e5;
    padding: 1px;
}
.main_dclt_nav{
    float: left;
}
.main_dclt_nav li{
    float: left;
    
    color: #333;
    padding: 0 15px;
    cursor: pointer;
}
.main_dclt_nav span{
    margin-top: 1px;
    float: left;
    width: 2px;
    height: 32px;
    background: url(../img/stuff_tab_bg.png) repeat-x 0px -70px;
}
.main_dclt_nav li:hover{
    background: url(../img/stuff_tab_bg.png) repeat-x 0px -35px;
    color: #333;
}
.main_dclt_nav .action{
    background: url(../img/stuff_tab_bg.png) repeat-x 0px -35px;
    color: #333;
}
.main_dclt_nav .new{
    display: inline-block;
    width: 28px;
    height: 16px;
    background: url(../img/bg-new.png) no-repeat;
}
.main_dclt_buy{
    float: left;
    margin-left: 50px;
    font-weight: bold;
}
.main_dclt_buy em{
    color: #d41f2b;
}
.main_dclt_qiang{
    display: block;
    float: right;
    margin-right: 20px;
    width: 150px;
    height: 30px;
    background: url(../img/buying.png) no-repeat;
}
.main_dcl_box{
    display: none;
    padding: 18px 16px;
    min-height: 200px;
    height: auto!important;
    height: 200px;
}
.main_dcl_show{
    display: block;
}
.main_dclb_ta{
    margin-bottom: 30px;
    height: 100px;
    line-height: 30px;
}
.main_dclb_ta dd{
    float:left;
    width: 350px;
}    
.main_dclb_nav{
    overflow: hidden;
}
.main_dclb_nav dd{
    min-height: 60px;
    height: auto!important;
    height: 60px;
    border-bottom: 1px solid #cccccc;
}
.main_dclb_nav .main_dclb_user{
    float: left;
    width: 610px;
    height: 30px;
    line-height: 30px;
}
.main_dclb_nav .main_dclb_common{
    float: left;
    width: 610px;
    line-height: 30px;
}
.main_dclb_nav .main_dclb_ping{
    float: right;
    width: 60px;
    height: 12px;
}
.main_dclb_nav .main_dclb_ping img{
    float: left;
    width: 11px;
    height: 11px;
}
.main_dclb_btn{
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-bottom: 1px solid #cccccc;
}
.main_dclb_tab{
    width: 700px;
    border: 1px solid #ddd;
    color: #666;
    line-height: 30px;
    overflow: hidden;
    margin: 10px auto;
    
}
.main_dclb_tab th{
    width: 110px;
    background-color: #f0f0f0;
    font-weight: bold;
    text-align: center;
    vertical-align: top;
    border-bottom: 1px solid #ddd;
    color: #666666;
}
.main_dclb_tab td{
    width: 580px;
    background-color: #F9F9F9;
    padding-left: 10px;
    border-bottom: 1px solid #ddd;
}
.main_dclb_tab span{
    padding: 4px 0 4px 25px;
}
.main_dclb_link{
	display: block;
	margin-left: 7px;
}
#main_dclb_show{
	width: 700px;
	overflow: hidden;
}
#main_dclb_show img{
	display: block;
	width: 100%;
}
/*详细页面购买功能*/
.deta_buy_bg{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    z-index: 99;
}
.date_b_box{
    display: none;
    position: absolute;
    top: 200px;
    left: 50%;
    margin-left: -215px;
    background: #fff;
    width: 500px;
    overflow: hidden;
    border: 1px solid #ccc;
    z-index: 9999999;
}
.date_bb_top{
    height: 20px;
    line-height: 20px;
    background-color: #f7f4f7;
    border-bottom: 1px solid #d9d9d9;
    padding: 10px;
}
.date_bb_top h4{
    float: left;
    font-size: 14px;
    font-weight: bold;
    color: #d11824;
}
.date_bb_top a{
    float: right;
    display: inline-block;
    width: 18px;
    height: 17px;
    background: url(../img/close.png) no-repeat left center;
    cursor: pointer;
    text-indent: -9999px;
}
.date_bb_sele{
    width: 450px;
    margin: 20px;
    color: #666;
}
.date_bbs_list{
    overflow: hidden;
}
.date_bbs_list dt{
    width: 500px;
    color: #000;
    margin-bottom: 5px;
    line-height: 22px;
}
.date_bbs_list dd{
    clear: both;
    width: 500px;
    height: 30px;
    margin-bottom: 10px;
}
.date_bb_nav{
    clear: both;
}
.date_bb_nav li{
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    border: 1px solid #dedede;
    padding: 3px 6px;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
    cursor: pointer;
}
.date_bb_nav .action{
    border: 1px solid #ff1800;
    background: url(../img/shop_cart_current.png) no-repeat right bottom;
}
.dete_bb_shu{
    height: 24px;
    line-height: 24px;
    color: #666;
}
.date_bb_btn{
    float: left;
    width: 16px;
    height: 24px;
    line-height: 24px;
    background: #cccccc;
    text-align: center;
    color: #666;
}
.date_bb_num{
    float: left;
    width: 60px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}
.date_bb_shop a{
    margin: 20px 20px 0 0;
    float: right;
    height: 50px;
    width: 170px;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    background: #c40001;
    color: #fff;
}
.date_bb_shop a:hover{
    background: #a70707;
}

/*购物车页面*/
.cart_main{
    min-height: 400px;
    overflow: hidden;
    height: auto!important;
    height: 400px;
    margin-bottom: 100px;
}
.cart_menu{
    margin-bottom: 60px;
    margin-top: 40px;
    width: 1000px;
    background: url(../img/shop_menu_bg.png) repeat-x left center;
    height: 30px;
}
.cart_menu_list li{
    float: left;
    width: 330px;
    text-align: center;
    padding-top: 35px;
    color: #555;
    background-image: url(../img/shop_menu_li.png);
    background-repeat: no-repeat;
}
.cart_ml01{
    background-position: 152px 5px;
}
.cart_ml02{
    background-position: 152px -55px;
}
.cart_ml03{
    background-position: 152px -115px;
}
.cart_shoplist{
    overflow: hidden;
}
.cart_sh_tab{
    border: 1px solid #e2dee2;
    margin-bottom: 20px;
}
.cart_sh_tab th{
    height: 20px;
    line-height: 20px;
    color: #666;
    text-align: center;
    padding: 5px 10px;
    font-weight: bold;
    background: #f3f3f3;
    font-weight: normal;
}
.cart_all_check{
    float: left;
    margin-top: 3px;
}
.cart_sh_tab td{
    border: 1px solid #eee;
    border-top: none;
    padding: 10px;
    background-color: #FFF;
    text-align: center;
    line-height: 24px;
    overflow: hidden;
}
.cart_sh_tab .cart_good_img{
    border-right:none;
    height: 90px;
}
.cart_good_img img{
    display: block;
    width: 100%;
}
.cart_sh_tab .cart_good_tit{
    border-left:none;
    text-align: left;
    line-height: 20px;
    color: #666;
}
.cart_del{
    color: #888;
    cursor: pointer;
}
.cart_del:hover{
    color: #d01d25;
}
.cart_shopbtn{
    float: right;
    width: 90px;
    height: 52px;
    line-height: 52px;
    background: #d01d25;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 900;
}
.cart_sh_tab .cart_sh_jie{
    padding: 0;
    height: 52px;
}
.cart_jie{
    overflow: hidden;
    border: 1px solid #e2dee2;
}
.cart_sj_del{
    margin-left: 30px;
    float: left;
    width: 90px;
    height: 52px;
    line-height: 52px;
}
.cart_sj_del:hover{
    color: #d01d25;
}
.cart_sj_check{
    margin-left: 10px;
    float: left;
    height: 52px;
    line-height: 52px;
}
.cart_sj_check input{
    margin-top: 20px;
}
.cart_sj_contail{
    float: left;
    line-height: 52px;
    width: 700px;
    text-align: right;
}
.cart_sj_contail span{
    color: #777;
}
.cart_sj_contail em{
    padding: 0 6px;
    color: #d01d25;
    font-weight: 700;
}
.cart_sj_contail .cart_sj_price{
    font-size: 18px;
    font-weight: 900;
}

.cart_no{
    display: none;
    min-height: 400px;
    overflow: hidden;
    height: auto!important;
    height: 400px;
    text-align: center;
}
.cart_no_nav{
    margin-top: 100px;
    padding-left: 280px;
    width: 500px;
    height: 98px;
    line-height: 98px;
    background: url(../img/no-login-icon.png) center  no-repeat;
    font-size: 14px;
    color: #666;
}
.cart_no_nav a{
    padding-left: 18px;
    color: red;
}








